/**
 *
 * Apply your custom CSS here
 *
*/
.navbar.horizontal-menu {
    position: relative;
    height: 65px;
    background: #3F1E55;
    margin: 0;
    padding: 0;
    z-index: 101;
    min-height: 0;
    -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.15);
    box-shadow: 0 0 21px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0px 21px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 21px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0px 21px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
    .navbar.horizontal-menu .navbar-inner .navbar-nav > li > a {
        padding: 0 15px;
        line-height: 65px;
    }

    .navbar.horizontal-menu .navbar-inner .navbar-nav > li {
        position: relative;
        z-index: 1;
        line-height: 0;
        border: 1px solid transparent;
        border-top: 0;
        border-bottom: 0;
    }

}

a.btn-icon span,
a.btn-icon i {
    color: #fff;
}

.rdw-editor-main {
    height: 370px !important;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid #f3f3f3;
}

.navbar.horizontal-menu {
    position: relative;
    height: 65px;
    background: #3F1E55;
    margin: 0;
    padding: 0;
    z-index: 101;
    min-height: 0;
    -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.15);
    box-shadow: 0 0 21px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0px 21px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 21px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0px 21px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
    .navbar.horizontal-menu .navbar-inner .navbar-nav a {
        position: relative;
        display: inline-block;
        line-height: 1;
        color: #f6f6f6;
        z-index: 1;
    }

    .navbar.horizontal-menu .navbar-inner .navbar-nav > li.active, .navbar.horizontal-menu .navbar-inner .navbar-nav > li:hover {
        border-color: #48215f;
        background-color: #48215f;
    }

    .navbar.horizontal-menu .navbar-inner .navbar-nav li:hover > a, .navbar.horizontal-menu .navbar-inner .navbar-nav li.active > a {
        color: #ffffff;
    }

}

.login-page {
    background: #2c2e2f;
    color: #fff;
    padding-top: 150px;
}

.login-container {
    max-width: 960px;
    margin: 0 auto;
}

.login-page .errors-container {
    margin-bottom: 20px;
    padding: 0 30px;
}

.login-header h3 {
    color: #fff;
}

.navbar.horizontal-menu .navbar-inner .navbar-nav li.has-sub a > .sub-title {
    display: inline-block;
    color: #565656;
}

.read-more {
    margin-top: 30px;
    float: right;
}

.mg-t-0 {
    margin-top: 0;
}

.list-news {
    margin-bottom : 35px;
}

.news-item {
    margin-bottom: 35px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
}

ul.item-list {
    padding-left: 0;
    list-style-type: none;
}

ul.item-list li {
    margin-bottom: 8px;
    cursor: pointer;
}

.xe-widget.xe-status-update {
    background: #ffffff;
    border: 1px solid #d6d6d6;
    color: #333;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 20px;
    height: 300px;
}

.img-with-height {
    object-fit: cover;
    height: 135px;
    width: 100%;
}

.xe-widget.xe-status-update .xe-body li p {
    color: #333;
}

.mg-t-15 {
    margin-top: 15px
}

.sidebar-user-info {
    background-color: #27292a;
    border-bottom: 1px solid #323435;
}

.sidebar-user-info .user-profile {
    display: block;
    padding: 15px 15px;
}

.sidebar-user-info .sidebar-user-info-inner .user-adm .img-corona {
    box-shadow: #3F1E55 0 0 0 3px;
}

.sidebar-user-info .user-profile img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    max-height: 100%;
    margin: 1px auto;
    display: block;
}

img.img-corona {
    -webkit-box-shadow: 0 0 0 4px rgba(221,221,221,0.3);
    box-shadow: 0 0 0 4px rgba(221,221,221,0.3);
    -webkit-box-shadow: 0 0 0 4px rgba(221, 221, 221, 0.3);
    -moz-box-shadow: 0 0 0 4px rgba(221, 221, 221, 0.3);
    box-shadow: 0 0 0 4px rgba(221, 221, 221, 0.3);
}

.sidebar-user-info .user-profile span {
    display: block;
    color: #979898;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-size: 11px;
    padding-top: 10px;
}

.sidebar-user-info .user-profile span strong {
    display: block;
    font-size: 13px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: -2px;
}

.sidebar-user-info .user-links {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #323435;
    margin: 0;
}

.sidebar-user-info .user-links li {
    display: table-cell;
}

.sidebar-user-info .sidebar-user-info-inner ul.user-links li a {
    font-size: 11px;
    padding: 5px 0;
}

.sidebar-user-info .user-links li a {
    display: block;
    text-align: center;
    color: #979898;
    padding: 10px;
}

.sidebar-menu {
    display: table-cell;
    position: relative;
    width: 250px;
    background: #2c2e2f;
    z-index: 1;
}

.judul-panel:after {
    content: '';
    position: absolute;
    left: 0;
    right: 15px;
    bottom: 0;
    width: 60px;
    background: #F3B01B;
    height: 5px;
}

.panel .panel-body .kalender-event {
    padding-left: 0;
    list-style: none;
    overflow: hidden;
    margin-bottom: 0;
}

.panel .panel-body .kalender-event li {
    float: left;
    width: 100%;
    border-bottom: 1px dashed #eeeeee;
    padding-bottom: 5px;
    padding-top: 5px;
}

.panel .panel-body .kalender-event li a:last-child {
    margin-bottom: 0;
}

.panel .panel-body .kalender-event li a h3 {
    width: 40px;
    min-height: 40px;
    float: left;
    margin: 0 5px 0 0;
    padding-right: 3px;
    font-size: 30px;
    text-align: center;
}

.panel .panel-body .kalender-event li a h3 .bulan {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1px 0;
    margin-bottom: -4px;
    background: #3F1E55;
    color: #FFFFFF;
}

.panel .panel-body .kalender-event li a h3 .tahun {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0;
    margin-top: -5px;
    margin-right: -3px;
}

.panel .panel-body .kalender-event li a h5 {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
}

.panel .panel-body .kalender-event li a small {
    display: block;
    margin-top: 1px;
    font-size: 10px;
}

.panel.panel-default {
    background: #FFFFFF url('../img/card-bg.png') no-repeat bottom right;
    background-size: 75%;
}

.panel .panel-body .thumb-list {
    padding-left: 0;
    list-style: none;
    overflow: hidden;
    margin-bottom: 0;
}

.panel .panel-body .thumb-list li {
    float: left;
    width: 100%;
    border-bottom: 1px dashed #eeeeee;
    margin-bottom: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
}

.panel .panel-body .thumb-list li a .gambar-post-sidebar {
    width: 30%;
    height: 70px;
    float: left;
    background: #3F1E55;
    display: block;
    margin: 5px 17px 0px 0px;
}

.panel .panel-body .thumb-list li a .gambar-post-sidebar img {
    object-fit: cover;
    max-height: 100%;
    height: 100%;
}

.panel .panel-body .thumb-list li a h5 {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    margin-left: 70px;
}

.panel .panel-body .thumb-list li a small {
    display: block;
    margin-top: 1px;
    font-size: 10px;
    margin-left: 70px;
}

.topbanner {
    background: #ffffff;
    border-bottom: 5px solid #F3B01B;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFFFFF url('../img/card-bg.png') no-repeat top right;
}

.topbanner a .logopemko {
    background: url('../img/logokotatanjungpinang.png') no-repeat center;
    background-size: 60px;
    width: 65px;
    height: 90px;
    margin-right: 10px;
    display: block;
    float: left;
}

.topbanner a {
    width: 100%;
    overflow: hidden;
    float: left;
}

.topbanner a .ketlogo {
    height: 90px;
    padding-top: 8px;
}

.topbanner a .ketlogo .ketlogopemko {
    font-size: 16px;
    font-weight: bold;
    color: #565656;
}

.topbanner a .ketlogo .ketlogoinstansi {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -6px;
    margin-bottom: -4px;
    color: #565656;
}

.topbanner a .ketlogo .ketlogoalamat1, .topbanner a .ketlogo .ketlogoalamat2 {
    font-size: 10px;
    color: #999999;
}

.topbanner a .ketlogo .ketlogoalamat1, .topbanner a .ketlogo .ketlogoalamat2 {
    font-size: 10px;
    color: #999999;
}

.sidebar-menu.fixed .sidebar-menu-inner {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: inherit;
    overflow: hidden;
    background: #2c2e2f;
}

ul.child-title {
    margin-top : 10px;
    margin-bottom : 10px;
}

ul.child-title li {
    margin : 0 !important;
    border-bottom: 0 !important;
    font-size: 12px;
    color: #b5b5b5;
}
